<a href="https://colab.research.google.com/github/jacob-torres/DS-Unit-2-Kaggle-Challenge/blob/master/module2-random-forests/Jacob_Torres_LS_DS_222_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 2*

---

# Random Forests

## Assignment
- [ ] Read [“Adopting a Hypothesis-Driven Workflow”](http://archive.is/Nu3EI), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [ ] Continue to participate in our Kaggle challenge.
- [ ] Define a function to wrangle train, validate, and test sets in the same way. Clean outliers and engineer features.
- [ ] Try Ordinal Encoding.
- [ ] Try a Random Forest Classifier.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [ ] Try other [categorical encodings](https://contrib.scikit-learn.org/category_encoders/).
- [ ] Get and plot your feature importances.
- [ ] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_


### More Categorical Encodings

**1.** The article **[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)** mentions 4 encodings:

- **"Categorical Encoding":** This means using the raw categorical values as-is, not encoded. Scikit-learn doesn't support this, but some tree algorithm implementations do. For example, [Catboost](https://catboost.ai/), or R's [rpart](https://cran.r-project.org/web/packages/rpart/index.html) package.
- **Numeric Encoding:** Synonymous with Label Encoding, or "Ordinal" Encoding with random order. We can use [category_encoders.OrdinalEncoder](https://contrib.scikit-learn.org/category_encoders/ordinal.html).
- **One-Hot Encoding:** We can use [category_encoders.OneHotEncoder](https://contrib.scikit-learn.org/category_encoders/onehot.html).
- **Binary Encoding:** We can use [category_encoders.BinaryEncoder](https://contrib.scikit-learn.org/category_encoders/binary.html).


**2.** The short video 
**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)** introduces an interesting idea: use both X _and_ y to encode categoricals.

Category Encoders has multiple implementations of this general concept:

- [CatBoost Encoder](https://contrib.scikit-learn.org/category_encoders/catboost.html)
- [Generalized Linear Mixed Model Encoder](https://contrib.scikit-learn.org/category_encoders/glmm.html)
- [James-Stein Encoder](https://contrib.scikit-learn.org/category_encoders/jamesstein.html)
- [Leave One Out](https://contrib.scikit-learn.org/category_encoders/leaveoneout.html)
- [M-estimate](https://contrib.scikit-learn.org/category_encoders/mestimate.html)
- [Target Encoder](https://contrib.scikit-learn.org/category_encoders/targetencoder.html)
- [Weight of Evidence](https://contrib.scikit-learn.org/category_encoders/woe.html)

Category Encoder's mean encoding implementations work for regression problems or binary classification problems. 

For multi-class classification problems, you will need to temporarily reformulate it as binary classification. For example:

```python
encoder = ce.TargetEncoder(min_samples_leaf=..., smoothing=...) # Both parameters > 1 to avoid overfitting
X_train_encoded = encoder.fit_transform(X_train, y_train=='functional')
X_val_encoded = encoder.transform(X_train, y_val=='functional')
```

For this reason, mean encoding won't work well within pipelines for multi-class classification problems.

**3.** The **[dirty_cat](https://dirty-cat.github.io/stable/)** library has a Target Encoder implementation that works with multi-class classification.

```python
 dirty_cat.TargetEncoder(clf_type='multiclass-clf')
```
It also implements an interesting idea called ["Similarity Encoder" for dirty categories](https://www.slideshare.net/GaelVaroquaux/machine-learning-on-non-curated-data-154905090).

However, it seems like dirty_cat doesn't handle missing values or unknown categories as well as category_encoders does. And you may need to use it with one column at a time, instead of with your whole dataframe.

**4. [Embeddings](https://www.kaggle.com/colinmorris/embedding-layers)** can work well with sparse / high cardinality categoricals.

_**I hope it’s not too frustrating or confusing that there’s not one “canonical” way to encode categoricals. It’s an active area of research and experimentation — maybe you can make your own contributions!**_

### Setup

You can work locally (follow the [local setup instructions](https://lambdaschool.github.io/ds/unit2/local/)) or on Colab (run the code cell below).

In [122]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
  
!pip install category_encoders

In [137]:
import pandas as pd
import numpy as np
from category_encoders import  OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from google.colab  import files

## EDA and Data Wrangling

In [124]:
# Split dataframe into train, validation, and test
train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))
train, val = train_test_split(
    train, test_size=0.2, random_state=122995
)
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

print(f"""
Training dataset: {train.shape}
Validation dataset: {val.shape}
Testing dataset: {test.shape}
""")

Training dataset: (47520, 41)
Validation dataset: (11880, 41)
Testing dataset: (14358, 40)

In [125]:
display(train.head())
display(train.describe())
display(train.info())

          id  amount_tsh  ... waterpoint_type_group    status_group
11893  64477       500.0  ...             hand pump      functional
48442  28845         0.0  ...             hand pump  non functional
1951   73911        20.0  ...    communal standpipe  non functional
45338   6986         0.0  ...             hand pump  non functional
1807   16894       100.0  ...             hand pump      functional

[5 rows x 41 columns]

                 id     amount_tsh  ...    population  construction_year
count  47520.000000   47520.000000  ...  47520.000000       47520.000000
mean   37106.007260     313.643102  ...    179.839941        1298.773085
std    21466.400594    2952.389312  ...    479.073980         952.220743
min        0.000000       0.000000  ...      0.000000           0.000000
25%    18490.750000       0.000000  ...      0.000000           0.000000
50%    37031.500000       0.000000  ...     25.000000        1986.000000
75%    55603.250000      20.000000  ...    211.000000        2004.000000
max    74246.000000  350000.000000  ...  30500.000000        2013.000000

[8 rows x 10 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47520 entries, 11893 to 45829
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     47520 non-null  int64
 1   amount_tsh             47520 non-null  float64
 2   date_recorded          47520 non-null  object
 3   funder                 44590 non-null  object
 4   gps_height             47520 non-null  int64
 5   installer              44573 non-null  object
 6   longitude              47520 non-null  float64
 7   latitude               47520 non-null  float64
 8   wpt_name               47520 non-null  object
 9   num_private            47520 non-null  int64
 10  basin                  47520 non-null  object
 11  subvillage             47224 non-null  object
 12  region                 47520 non-null  object
 13  region_code            47520 non-null  int64
 14  district_code          47520 non-null  int64
 15  lga                    47520 non-null  object
 16  ward                   47520 non-null  object
 17  population             47520 non-null  int64
 18  public_meeting         44871 non-null  object
 19  recorded_by            47520 non-null  object
 20  scheme_management      44400 non-null  object
 21  scheme_name            24981 non-null  object
 22  permit                 45052 non-null  object
 23  construction_year      47520 non-null  int64
 24  extraction_type        47520 non-null  object
 25  extraction_type_group  47520 non-null  object
 26  extraction_type_class  47520 non-null  object
 27  management             47520 non-null  object
 28  management_group       47520 non-null  object
 29  payment                47520 non-null  object
 30  payment_type           47520 non-null  object
 31  water_quality          47520 non-null  object
 32  quality_group          47520 non-null  object
 33  quantity               47520 non-null  object
 34  quantity_group         47520 non-null  object
 35  source                 47520 non-null  object
 36  source_type            47520 non-null  object
 37  source_class           47520 non-null  object
 38  waterpoint_type        47520 non-null  object
 39  waterpoint_type_group  47520 non-null  object
 40  status_group           47520 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 15.2+ MB

None

Displaying the summary information about the data, there are some outliers in the longitude and latitude columns. There are also quite a few missing values.

Tanzania is located off the eastern shore of Africa, and it does not include either 0 degrees N (the equator) or 0 degrees E (the prime meridian.) It's therefore safe to conclude that these datapoints are meant to represent null values rather than valid outliers.

In [126]:
# Data wrangling function
def wrangle(df):
  df = df.copy()

# Set 'id' to the index column
  df = df.set_index('id')

  # Handle 0s and missing values
  df['latitude'] = df['latitude'].replace(-2e-08, 0)

  for col in ['longitude', 'latitude', 'construction_year']:
    df[col] = df[col].replace(0, np.NaN)

  # Remove unnecessary features
  df = df.drop(
      columns=[
               'extraction_type_group', 'extraction_type_class', 'payment_type',
               'quality_group', 'quantity_group', 'source_type', 'waterpoint_type_group'
      ]
  )

  return df

In [127]:
# Wrangle the data subsets
train = wrangle(train)
val = wrangle(val)
test = wrangle(test)

print(f"""
Training dataset: {train.shape}
Validation dataset: {val.shape}
Testing dataset: {test.shape}
""")

Training dataset: (47520, 33)
Validation dataset: (11880, 33)
Testing dataset: (14358, 32)

In [128]:
display(train.head())
display(train.describe())
display(train.info())

       amount_tsh date_recorded  ...     waterpoint_type    status_group
id                               ...
64477       500.0    2011-03-24  ...           hand pump      functional
28845         0.0    2011-03-17  ...           hand pump  non functional
73911        20.0    2011-03-17  ...  communal standpipe  non functional
6986          0.0    2011-07-09  ...           hand pump  non functional
16894       100.0    2013-02-05  ...           hand pump      functional

[5 rows x 33 columns]

          amount_tsh    gps_height  ...    population  construction_year
count   47520.000000  47520.000000  ...  47520.000000       30908.000000
mean      313.643102    666.279040  ...    179.839941        1996.819497
std      2952.389312    692.729344  ...    479.073980          12.484376
min         0.000000    -90.000000  ...      0.000000        1960.000000
25%         0.000000      0.000000  ...      0.000000        1987.000000
50%         0.000000    366.000000  ...     25.000000        2000.000000
75%        20.000000   1318.000000  ...    211.000000        2008.000000
max    350000.000000   2770.000000  ...  30500.000000        2013.000000

[8 rows x 9 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47520 entries, 64477 to 25790
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount_tsh         47520 non-null  float64
 1   date_recorded      47520 non-null  object
 2   funder             44590 non-null  object
 3   gps_height         47520 non-null  int64
 4   installer          44573 non-null  object
 5   longitude          46054 non-null  float64
 6   latitude           46054 non-null  float64
 7   wpt_name           47520 non-null  object
 8   num_private        47520 non-null  int64
 9   basin              47520 non-null  object
 10  subvillage         47224 non-null  object
 11  region             47520 non-null  object
 12  region_code        47520 non-null  int64
 13  district_code      47520 non-null  int64
 14  lga                47520 non-null  object
 15  ward               47520 non-null  object
 16  population         47520 non-null  int64
 17  public_meeting     44871 non-null  object
 18  recorded_by        47520 non-null  object
 19  scheme_management  44400 non-null  object
 20  scheme_name        24981 non-null  object
 21  permit             45052 non-null  object
 22  construction_year  30908 non-null  float64
 23  extraction_type    47520 non-null  object
 24  management         47520 non-null  object
 25  management_group   47520 non-null  object
 26  payment            47520 non-null  object
 27  water_quality      47520 non-null  object
 28  quantity           47520 non-null  object
 29  source             47520 non-null  object
 30  source_class       47520 non-null  object
 31  waterpoint_type    47520 non-null  object
 32  status_group       47520 non-null  object
dtypes: float64(4), int64(5), object(24)
memory usage: 12.3+ MB

None

## Random Forrest Model

In [129]:
# Create feature and target matrices
target = 'status_group'
X_train = train.drop(target, axis=1)
y_train = train[target]
X_val = val.drop(target, axis=1)
y_val = val[target]

In [130]:
# Build a model with a pipeline
model = make_pipeline(
    OrdinalEncoder(), SimpleImputer(), RandomForestClassifier(n_estimators=500)
)

In [131]:
# Fit and test the model
model.fit(X_train, y_train)

print(f"The accuracy of the model is {model.score(X_val, y_val)}")

The accuracy of the model is 0.8141414141414142

## Kaggle Submission

In [136]:
# Create submission for kaggle challenge
y_pred = model.predict(test)

submission = pd.DataFrame(
    data=y_pred, index=test.index, columns=['status_group']
)

submission.head()

         status_group
id
50785  non functional
51630      functional
17168      functional
45559  non functional
49871      functional

In [138]:
submission_csv = submission.to_csv('submission2.csv')
files.download('submission2.csv')